body {
  background-color:#fff;
  padding: 2em;
  font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
  color: #212121;
}
.container {
  width: 80%;
  margin: 0 auto;
}


.bold { 
  font-weight: bolder;
}

input {
    width: 80%;
    padding: 12px 20px;
    margin: 10px 0;
}

button {
    cursor: pointer;
    background-color: #4CAF50;
    border: none;
    color: white;
    background-color: #826F66;
    font-size: 16px;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.sell { 
  background-color: white;
  color: #D1C4E9;
}

.ftc-intro {
  background-color:#0097A7;
  color:white;
  width:100%;
  padding:20px;
}

.form-group {
  background-color:#C69B7B;
  color:black;
  width:100%;
  max-width: 1440px;
  padding:30px;
  border-radius: 4px;
  background-color: #f8f8f8;
}

.form-break {
  background-color:#fff;
  color:white;
  width:100%;
  padding:5px;
}

.horizontal-rule {
  background-color:#BDBDBD;
}

.fetched-data {
  background-color:#C69B7B;
  color:white;
  width:100%;
  padding:20px;
}

.page-column {
  padding-left: 64px; 
  display: flex; 
  flex-direction: column; 
}

.buttons-group {
  flex-direction: row; 
}

.fetched-data-table {
  display: flex;
  flex-direction: row;
  height: 64px;
  align-items: flex-start;
}

.btn-fetchOne {
  height: 48px;
  align-content: center;
  width:228px;
  margin-left: 16px;
}

.title {
  display: flex;
 align-items: center;
 justify-content: center;
}

.button-big {
  width: 180px;
}
.button-medium {
  width: 160px;
}