body {
  background-color:#fff;
  padding: 2em;
  font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
  color: #212121;
}
.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1440px;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 32px;
}


.bold { 
  font-weight: bolder;
}

input {
    width: 80%;
    padding: 12px 20px;
    margin: 10px 0;
}

button {
    cursor: pointer;
    background-color: #4CAF50;
    border: none;
    color: white;
    background-color: #826F66;
    font-size: 16px;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.sell { 
  background-color: white;
  color: #D1C4E9;
}

.ftc-intro {
  background-color:#0097A7;
  color:white;
  width:100%;
  padding:20px;
}

.form-group {
  background-color:#C69B7B;
  color:black;
  padding:30px;
  border-radius: 4px;
  background-color: #f8f8f8;
}

.form-break {
  background-color:#fff;
  color:white;
  width:100%;
  padding:5px;
}

.horizontal-rule {
  background-color:#BDBDBD;
}

.fetched-data {
  display: flex;
  flex-direction: column;
  background-color:#C69B7B;
  color:white;
  padding: 32px;
}

.page-column-left {
  display: flex;
  padding-left: 64px;
  padding-right: 64px; 
  flex-direction: column;
}

.column-devider {
  display: flex;
  background-color: #cccccc33;
  height: auto;
  width: 1px;
} 

.page-column-right {
  display: flex; 
  padding-left: 64px;
  padding-right: 32px;
  flex-direction: column;
}

.buttons-group {
  display: flex;
  flex-direction: row; 
  align-items: center;
}

.fetch-container {
  width: 100%;
}

.fetch-content {
  display: flex;
  flex-direction: row;
  height: 64px;
  align-items: center;
  justify-content: space-between;
}

.btn-fetchOne {
  height: 48px;
  align-content: center;
  width:228px;
  margin-left: 32px;
  border-radius: 4px;
}

.title {
  display: flex;
 align-items: center;
 justify-content: center;
}

.title-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 64px;
}

.button-big {
  width: 180px;
  margin-right: 32px;
  border-radius: 4px;
}

.button-medium {
  width: 160px;
  border-radius: 4px;
}

.is-role {
  color: #4CAF50;
}

.is-not-role {
  color: #e4241d;
}

.btn-buy {
  border-radius: 4px;
  flex: 1;
}

.form-error {
  color: #e4241d;
  margin-top: 8px;
  margin-bottom: 0px;
  margin-left: 16px;
}
 